<body class="bg-gray-900 text-gray-200 dark flex flex-col min-h-screen">
  <!-- Header -->
  <load src="./components/header.html" />

  <main class="px-4 flex-grow">
    <!-- Hero Section -->
    <load src="./components/hero.html" />

    <!-- Card Section -->
    <section v-scope="card()" id="cardListSection" class="my-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
      <div v-for="(card, index) in cardList" :key="index">
        <load src="./components/card.html" title="{{card.title}}" description="{{card.description}}" />
      </div>
    </section>
  </main>

  <!-- Footer -->
  <load src="./components/footer.html" />
</body>
